<ul class="nav nav-tabs">
    <li role="user"><a href="/profile">Profile</a></li>
    <li role="user" class="active"><a href="matches">Matches</a></li>
</ul>

<div class="row">
    {{#each summoners}}
        <div class="col-md-4">
            <img src="{{../iconUrl}}/{{#if iconId}}{{iconId}}{{else}}0{{/if}}.png" width="200px" alt="{{summoner}}">
        </div>
    {{/each}}
</div>
