<ul class="nav nav-tabs">
    <li role="user"><a href="/profile">Profile</a></li>
    <li role="user" class="active"><a href="matches">Matches</a></li>
</ul>


<h1>{{welcome}}</h1>
<h3>Welcome to {{title}}</h3>
