<h1>Hi, Please Enter the following Data</h1>
<form>
    Region:<br>
    <select name="region">
        <option value="BR">BR</option>
        <option value="EUNE">EUNE</option>
        <option value="EUW">EUW</option>
        <option value="KR">KR</option>
        <option value="LAN">LAN</option>
        <option value="LAS">LAS</option>
        <option value="NA">NA</option>
        <option value="OCE">OCE</option>
        <option value="RU">RU</option>
        <option value="TR">TR</option>
    </select>
    <br>

    Summoner Name:<br>
    <input type="text" name="summonername">
    <br>

    Average Ping:<br>
    <select name="region">
        <option value="GODLY">0-20</option>
        <option value="LOW">21-60</option>
        <option value="MEDIUM">61-100</option>
        <option value="HIGH">101-149</option>
        <option value="UNPLAYABLE">150+</option>
    </select>
    <br>

    Main Role:<br>
    <select name="region">
        <option value="TOP">TOP</option>
        <option value="MID">MID</option>
        <option value="JUNGLE">JUNGLE</option>
        <option value="ADC">ADC</option>
        <option value="SUPPORT">SUPPORT</option>
    </select>
    <br>

    Main Champion:<br>
    <input type="text" name="mainchampion">
    <br>

    <input type="submit" value="submit">
</form>